.content-header {
    display: flex;
    align-items: center;
    background-color: #fff;
}

.header-wrapper {
    padding: 25px;
    display: flex;
    align-items: center;
}

.stock-select {
    font-size: 40px;
    margin: 0;
    background: none;
    border: none;
    outline: none;
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.stock-select:hover {
    color: #00315D;
    scale: 0.98;
}

.content-header-title {
    font-size: 40px;
    font-weight: 500;
    margin: 0;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}

.search-bar {
    width: 350px;
    height: 48px;
    margin-right: 20px;
    padding-left: 45px;
    font-size: 17px;
    border-radius: 14px;
    border: none;
    background-color: #EBEFF2;
    outline: none;
    font-family: "Noto Sans JP", sans-serif;
}

.search-icon {
    position: absolute;
    left: 15px;
}

.search-bar::placeholder {
    color: #C1C1C3;
}

.create-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    width: 300px;
    height: 52px;
    border: none;
    border-radius: 14px;
    background-color: #35536B;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.create-button:hover {
    scale: 0.94;
    background-color: #005199;
}

.notifications-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 52px;
    height: 52px;
    cursor: pointer;
    transition: scale 0.2s ease;
    border-radius: 50%;
    margin-left: 20px;
}

.notifications-icon {
    width: 52px;
    height: 52px;
}

.notifications-button:hover {
    scale: 1.2;
}