.pagination-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 56px;
    position: fixed;
    bottom: 5%;
    left: 50%;
    background-color: yellow;
}