.pagination-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 50px;
    padding: 3px;
    position: absolute;
    bottom: 4%;
    left: 50%;
    background-color: #fff;
    border-radius: 10px;
}

.page-numbers-wrapper {
    display: flex;
    align-items: center;
    height: 35px;
    padding: 10px;
}

.page-link {
    width: 33px;
    height: 37px;
    background: none;
    border: none;
    margin: 3px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: black;
    transition: background-color 0.2s ease;
    border-radius: 10px;
    cursor: pointer;
}

.page-link:hover {
    background-color: #35536B;
    color: #fff;
}

.page-link.active {
    background-color: #EBEFF2;
    color: black;
    cursor: default;
}

.page-link.active:hover {
    background-color: #EBEFF2;
}

.arrow-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.arrow-button:disabled {
    cursor: default;
}

.arrow-button:disabled:hover {
    background-color: #F9F9F9;
}

.arrow-button:hover {
    background-color: #35536B;
    color: #fff;
}

.left-arrow {
    border-radius: 10px;
    margin-right: 2px;
}

.right-arrow {
    border-radius: 10px;
    margin-left: 2px;
}