.menu-item {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 25px;
    height: 86px;
    background-color: #F9F9F9;
    border-bottom: 2px solid #cdd3dd;
}

.options-window {
    position: absolute;
    top: 100%; /* Position it right below the parent element */
    right: 0; /* Align it to the left of the parent element */
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 10px;
    z-index: 100; /* Ensure it's above other content */
}


.id {
    width: 50px;
}

.name {
    width: 200px;
    margin-left: 25px;
}

.category {
    width: 200px;
    margin-left: 25px;
}

.ingredients {
    text-overflow: ellipsis;
    align-items: center;
    width: 350px;
    height: 22px;
    overflow-x: auto;
    margin-left: 25px;
}

.price {
    width: 200px;
    margin-left: 55px;
}

.branch {
    width: 200px;
    margin-left: 40px;
}

.more-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    border: none;
    background: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.more-button:hover {
    scale: 1.3;
}