.branches-content {
    height: 83vh;
    margin: 25px;
    border-radius: 20px;
    background-color: #fff;
}

.branches-content-header {
    display: flex;
    height: 86px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #35536B;
    padding-left: 25px;
    font-size: 18px;
}

.branches-content-header-subtitle {
    align-items: center;
    font-weight: 700;
}

.branch-id {
    text-align: center;
    width: 30px;
    color: #00315D;
    margin-right: 30px;
}

.branch-name {
    width: 390px;
}

.branch-adress {
    width: 311px;
    margin-left: 35px;
}

.branch-schedule {
    width: 370px;
    margin-left: 45px;
}

.branch-edit {
    margin-left: 95px;
    margin-right: 25px;
}