.login-page {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    align-items: center;
    font-family: "Noto Sans JP", sans-serif;
}

.login_block-wrapper {
    width: 49%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
    position: relative;
}

.logo-image {
    position: absolute;
    top: 30px;
    left: 30px;
}

.bg_block-wrapper {
    display: flex;
    width: 51%;
    padding: 17.5px;
}

.bg-image {
    width: 100%;
    height: 96.5vh;
    object-fit: cover;
    border-radius: 12px;
}

.login_block-title {
    font-size: 72px;
}

.login-input-wrapper {
    margin-bottom: 30px;
}

.login-input {
    outline: none;
    border: 2px solid transparent;
    width: 534px;
    height: 66px;
    text-align: center;
    border-radius: 20px;
    padding: 24px, 64px, 24px, 64px;
    font-size: 18px;
    background-color: #EBEFF2;
    font-family: "Noto Sans JP", sans-serif;
}

.login-input::placeholder {
    color: #5F6366;
}

.password-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.password-input {
    outline: none;
    border: 2px solid transparent;
    width: 534px;
    height: 66px;
    text-align: center;
    border-radius: 20px;
    padding: 24px, 64px, 24px, 64px;
    font-size: 18px;
    background-color: #EBEFF2;
    font-family: "Noto Sans JP", sans-serif;
}

.password-input::placeholder {
    color: #5F6366;
}

.toggle-password {
    position: absolute;
    right: 10px;  
    margin-top: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    transition: scale ease 0.3s;
}
  
.toggle-password img {
    width: 22px;  
    height: 22px;  
}

.toggle-password:hover {
    scale: 1.2;
}

.login-button {
    display: flex;
    border: none;
    margin: 0 auto;
    width: 539px;
    height: 70px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 18px;
    background-color: #35536B;
    color: #fff;
    transition: all ease 0.3s;
    cursor: pointer;
    font-family: "Noto Sans JP", sans-serif;
}

.login-button:hover {
    scale: 0.97;
    background-color: #022240;
}

.login-button:disabled {
    background-color: #35536BBF;
}

.login-button:disabled:hover {
    scale: 1.0;
    cursor: default;
}

.error-message {
    position: absolute;
    top: 41%;
    color: #FF4B4B;
    transition: all ease 0.6s;
}

.error {
    border-color: #FF4B4B;
    color: #FF4B4B;
    transition: all ease 0.6s;
}
  