.employees-content-header {
    display: flex;
    height: 42px;
    align-items: center;
    border-bottom: 2px solid black;
    padding-left: 25px;
    font-size: 18px;
}

.employees-content-header-subtitle {
    align-items: center;
    font-weight: 700;
}

.employee-id {
    text-align: center;
    width: 30px;
    color: #00315D;
    margin-right: 30px;
}

.employee-name {
    width: 250px;
}

.employee-position {
    width: 200px;
    margin-left: 35px;
}

.employee-branch {
    width: 200px;
    margin-left: 35px;
}

.employee-phone {
    width: 200px;
    margin-left: 35px;
}

.employee-schedule {
    width: 180px;
    margin-left: 45px;
}

.employee-edit {
    margin-left: 95px;
}