.employees-content {
    height: 83vh;
    margin: 25px;
    border-radius: 20px;
    background-color: #fff;
}

.employees-content-header {
    display: flex;
    height: 86px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #35536B;
    padding-left: 25px;
    font-size: 18px;
}

.employees-content-header-subtitle {
    align-items: center;
    font-weight: 700;
}

.employee-id {
    text-align: center;
    width: 30px;
    color: #00315D;
    margin-right: 30px;
}

.employee-name {
    width: 250px;
}

.employee-position {
    width: 200px;
    margin-left: 35px;
}

.employee-branch {
    position: relative;
    display: flex;
    align-items: center;
    width: 200px;
    height: 60px;
    padding: 0px 20px;
    margin-left: 45px;
    cursor: pointer;
}

.branch-dropdown-scrollable {
    max-height: 150px;
    padding-top: 150px; 
    overflow-y: auto;
}  

.branch-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 240px;
    top: 53px; 
    left: 0;
    z-index: 1;
    background-color: #E3E3E3;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.branch-open {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background-color: #E3E3E3;
}

.drop-down-icon {
    margin-left: auto;
}

.branches-wrapper {
    display: flex;
    height: 50px;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.branch-option {
    display: flex;
    padding: 0px 20px;
    align-items: center;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    border: none; 
    transition: all 0.2s ease;
}

.branch-option:hover {
    color: #FF4B4B;
    background-color: #bfbdc1;
}

.branch-dropdown .branches-wrapper:last-child .branch-option:hover {
    color: #FF4B4B;
    background-color: #bfbdc1;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}  

.employee-phone {
    width: 200px;
    margin-left: 35px;
}

.employee-schedule {
    width: 180px;
    margin-left: 45px;
}

.employee-edit {
    margin-left: 55px;
    margin-right: 25px;
}