.stock-item {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 25px;
    height: 86px;
    background-color: #fff;
    border-bottom: 1px solid #EBEFF2;
    font-size: 17px;
}

.stock-more-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    border: none;
    background: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 103px;
}

.stock-more-button:hover {
    scale: 1.3;
}